img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1 {
    font-size:96px;
    text-align:center;
}

h2 {
    text-align: center;
    padding-top:24px;
}