.content {
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

nav {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:12vw;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a {
    display:block;
    width:fit-content;
    color:white;
    margin:2vh;
    margin-bottom:8vh;
    font-size:48px;

    padding-left:20px;
    padding-right:20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg,
                    rgba(255,255,255,0) 0%,
                    rgba(255,255,255,1) 50%,
                    rgba(255,255,255,0) 100%) 1;
}

a:hover {
    color: #2D9DFF;
    border-image: linear-gradient(90deg,
                    rgba(255,255,255,0) 0%,
                    #2D9DFF 50%,
                    rgba(255,255,255,0) 100%) 1;
}