img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button {
    display:block;
    color:rgba(255, 255, 255,1);
    background-color:rgba(0,0,0,1);
    cursor:pointer;
    /* TODO: Reposition */
}

nav > a {
    display:block;
    color:white;
    background-color: rgba(255, 255, 0, 0.2);
    block-size:auto;
}