img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav > a {
    display:block;
    color:white;
    margin-top:2vh;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg,
                    rgba(255,255,255,0) 0%,
                    rgba(255,255,255,1) 50%,
                    rgba(255,255,255,0) 100%) 1;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

header {
    height:20vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 80%);
}