.section-break {
    height:10vh;
}

h1 {
    letter-spacing:3px;
    word-spacing:15px;
}

h2 {
    font-size:64px;
    font-family:"Bitter";
    font-weight:400;
    text-align:center;
    margin:48px;
    margin-top:5vh;
    margin-bottom:5vh;
}

p {
    margin-left:5vw;
    margin-right:5vw;
    font-size:28px;
    line-height:1.2;
}

/* ----- Navigation ----- */
nav > a {
    display:block;
    padding:8px;
    text-align:center;

    background-color: #404040;
    border: 1px solid white;
    border-radius:8px;
}

#btt-button {
    position:fixed;
    top:12px;
    right:12px;
    max-width:48px;
    font-size:16px;
    text-decoration:none;
}

#return-home {
    position:absolute;
    top:24px;
    left:24px;
    font-size:24px;
    text-decoration:none;
}

#top {
    position:absolute;
    top:0;
    left:0;
    border:none;
}

/* ----- Score Badge ----- */
.score-badge {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:40px;
}

.score-badge p {
    font-size:16px;
    margin-top:8px;
}

.score-badge img {
    border:3px solid white;
}

/*----------- JS Collapsible Sections -----------*/
.collapsible-button:hover {
    cursor:pointer;
    background-color:#353535;
    border-radius:12px;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

/*----------- Section: Intro -----------*/
.intro {
    display:flex;
    align-items:center;
}

.intro > img {
    object-fit: contain;
    width: 50vw;
    height: auto;
    margin-right:3vw;
}

.intro p {
    font-size: 24px;
}

/*----------- Section: Activity -----------*/
.activity p {
    font-size:22px;
    margin-right:2vw;
    margin-left:1vw;
    text-align: left;
}
/*--- Subsection: racecount ---*/
.race-count {
    display:flex;
    flex-direction:row;
    align-items:center;
}

.flex-col {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 2vh;
}

.flex-col > img {
    display:flex;
    width:25vw;
    height:auto;
    margin-left: 1vw;
}

/*--- Subsection: marathon ---*/
.marathon {
    display:flex;
    flex-direction: row;
    align-items:center;
}

.marathon > img {
    object-fit: contain;
    width:55vw;
    height:auto;
    margin-left:2vw;
}

.marathon p {
    font-size: 20px;
}

.marathon > p > span {
    font-weight:bold;
}

/*--- Subsection: active-days ---*/
.active-days {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:top;
}

.active-days-col {
    display:flex;
    flex-direction: column;
}

.blank-row {
    height: 36px;
}

.active-days-col table {
    display:flex;
    align-self:center;
    border-top:2px solid white;
    border-bottom:2px solid white;
    margin-top:5.5vh;
}

.active-days table td {
    text-align:right;
    font-weight:bold;
    font-size:26px;
}

.active-days table td + td {
    text-align:center;
    padding-left:24px;
    padding-right:24px;
}
.active-days table td + td + td {
    text-align:left;
    padding-left:0px;
}

.active-days-col > p {
    margin-top: 48px;
    margin-left: 5vw;
    text-align:left;
}

.active-days ul {
    list-style-type: circle;
    margin-left:5vw;
    margin-top:5vh;
}

.active-days li {
    margin: 24px;
    font-size:20px;
}

#heatmap {
    width: 40vw;
    height: auto;
    margin-right:5vw;
    margin-bottom:64px;
}

.active-days img {
    width: 20vw;
    height:auto;
    margin-right: 5vw;
    align-self: center;
}
/*---------------------------------*/

/*----------- Section: Common Races -----------*/

/* ---- subsection: cr-intro ---- */
.cr-intro {
    display:flex;
    flex-direction:column;
}

.cr-intro p {
    font-size:22px;
    max-width:60vw;
}

.cr-flex-col p {
    text-align: center;
    align-self:center;
}

.cr-flex-col span {
    font-weight:bold;
}

.cr-flex-col {
    display:flex;
    flex-direction:column;
}

.cr-flex-row {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
}

.cr-flex-row img {
    width: 25vw;
    height:auto;
    margin-bottom:6vh;
}

#cr-pie {
    width:20vw;
    height:auto;
}

/* ---- subsection: sample quotes ---- */
.sample-quote {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:5vh;
}

.text-quote {
    font-family:"Lato";
    font-weight:300;
    font-style: italic;
    width:25vw;
    font-size:20px;
    background-color: #404040;
    border-radius:12px;
    padding:24px;
    border:1px solid white;
    margin:0px;
}

.sample-quote img {
    width:25vw;
    height:auto;
    margin:0px;
}

.quote-stats-container {
    padding:6px;
    background-color: #404040;
    border:1px solid white;
    border-radius:12px;
}

.quote-stats-container img {
    width:20vw;
}


/*---------------------------------*/

/*----------- Section: WPM -----------*/
.wpm-intro {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.wpm-intro img {
    width:10vw;
    height:10vw;
    align-self:center;
}