.scorebadge {
    display:flex;
    justify-content:center;
    margin-top:40px;
}

h2 {
    font-size:64px;
    text-align:center;
    margin:48px;
    margin-top:25vh;
}

p {
    display:flex;
    margin-left:5vw;
    margin-right:5vw;
    margin-top:5vh;
    font-size:32px;
}

.intro {
    display:flex;
}

.intro > img {
    width: 50vw;
    height: auto;
    max-height:31vw;
}